a:focus,
a:hover {
}

.bt-link{

}

a{
  text-decoration: none;
}

.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none;
  background-color: #fff;
  border: .05rem solid #fff;
}


/*
 * Base structure
 */

html,
body {
  list-style: none;
  overflow-x: hidden;
}

.cover-container {
  max-width: 74em;
}
.navcover{
  max-width: 100em;
}

/*
 * Header
 */
.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
  z-index: 20;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
}


.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
  color: white;
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
  .Kiri-image{
    height: 310px;
    width: 300px;
  }
  .languages-mobile{
    visibility: hidden;
  }
}
@media (max-width: 600px) {
  .txt{
    visibility: hidden;
    clear: both;
    float: left;
    margin: 10px auto 5px 20px;
    width: 28%;
    display: none;
  }



}

.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}

/* Timeline */
.wrapper{
  max-width: 1080px;
  margin: 50px auto;
  padding: 0 20px;
  position: relative;
}
.wrapper .center-line{
  position: absolute;
  height: 100%;
  width: 4px;
  background: #fff;
  left: 50%;
  top: 20px;
  transform: translateX(-50%);
}
.wrapper .row{
  display: flex;
}
.wrapper .row-1{
  justify-content: flex-start;
}
.wrapper .row-2{
  justify-content: flex-end;
}
.wrapper .row section{
  background: #333;
  border-radius: 5px;
  width: calc(50% - 40px);
  padding: 20px;
  position: relative;
}

.section-projects{
  padding: 0;
}

.row section .icon,
.center-line .scroll-icon{
  position: absolute;
  background: #f2f2f2;
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ff7979;
  font-size: 17px;
  box-shadow: 0 0 0 4px #fff, inset 0 2px 0 rgba(0,0,0,0.08), 0 3px 0 4px rgba(0,0,0,0.05);
}
.center-line .scroll-icon{
  bottom: 0px;
  left: 50%;
  font-size: 25px;
  transform: translateX(-50%);
}
.row-1 section .icon{
  top: 15px;
  right: -60px;
}
.row-2 section .icon{
  top: 15px;
  left: -60px;
}
.row section .details,
.row section .bottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.row section .details .title{
  font-size: 22px;
  font-weight: 600;
}
.row section p{
  margin: 10px 0 17px 0;
}
.row section .bottom a{
  background: #ff7979;
  padding: 7px 15px;
  border-radius: 5px;
  /* font-size: 17px; */
  font-weight: 400;
  transition: all 0.3s ease;
}
.row section .bottom a:hover{
  transform: scale(0.97);
}
@media(max-width: 790px){
  .wrapper .center-line{
    left: 40px;
  }
  .wrapper .row{
    margin: 30px 0 3px 60px;
  }
  .wrapper .row section{
    width: 100%;
  }
  .row-1 section::before{
    left: -7px;
  }
  .row-1 section .icon{
    left: -60px;
  }
}
@media(max-width: 440px){
  .wrapper .center-line,
  .row section::before,
  .row section .icon{
    display: none;
  }
  .wrapper .row{
    margin: 10px 0;
  }
}

/*
 * animations
 */
 .fade-in{
  opacity: 0;
  transition: opacity 250ms ease-in;
}
.fade-in.appear {
  opacity: 1;
}
 .from-left {
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.from-right {
  -webkit-transform: translateX(50%);
  transform: translateX(50%);
}

.from-left,
.from-right {
  transition: opacity 400ms ease-in, -webkit-transform 800ms ease-in;
  transition: opacity 400ms ease-in, transform 800ms ease-in;
  transition: opacity 400ms ease-in, transform 800ms ease-in,
    -webkit-transform 800ms ease-in;
  opacity: 0;
}

.from-left.appear,
.from-right.appear {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
}
/*
* own styles
*/

.blitztypes{
  
}
.blitztypes-text{
  padding-top: 2em;
  padding-left: 2em;
  padding-right: 2em;
  border-radius: 20px;
  text-align: left;
  font-size: 1.25em;
}

.notepad{

  
}

.notepad-text{
  padding-top: 2em;
  padding-left: 2em;
  padding-right: 2em;
  border-radius: 20px;
  text-align: left;
  font-size: 1.25em;
}

.languages{
  display: flex;
  justify-content: space-between;
}

.languages-mobile{
  display: flex;
  justify-content: space-between;
}

.flags{
  border-radius: 50%;
  border:#292b2c 5px solid;
}

.flagcontent{
  vertical-align: top;
    display: inline-block;
    text-align: center;
}
.caption{
  display: block;
}

.fluency{
  color: rgb(151, 151, 151);
}

.about-me{
  padding:0;
}

.container-about-me{
  padding:0;
}

.first-info{
  filter: brightness(40%);
}

.img-fitness{
  filter: brightness(0);
  filter: invert(1);
  padding-left: 0.5em;
}

.interests{
  padding-left: 0;

}

.interest-item{
  Font-size: 1.5em;
  border-bottom: 3px white solid;
  padding: 10px;
  padding-left: 50%;
  margin: 5px;
  margin-left: 0;
  list-style-type: none;
  -webkit-padding-start: 0;
  text-align:left;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.interest-item:hover{
  background-color: #333;
}

.aboutmetxt{
  padding: 0;
}

.triangle-bottomright {
  width: 0;
  height: 0;
  border-bottom: 100px solid rgba(128, 128, 128, 0.192);
  border-left: 100px solid transparent;
  position: absolute;
  bottom: 0;
  right: 0;
}

.triangle-topleft {
  width: 0;
  height: 0;
  border-top: 100px solid rgba(128, 128, 128, 0.192);
  border-right: 100px solid transparent;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;
}

.introduction{
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-skills{
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
  color: #fff;
  background-color: #333;
  height: 100vh;
}

.section-about-me{
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
  color: #fff;
  height: 100vh;
}

.section-introduction{
  position: relative;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
  color: #fff;
  height: 100vh;
  overflow: hidden;
  background-color: #292b2c;
  z-index: 10;
}

.section-projects{
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
  height: 100vh;
  background-color: #404040;
}

.skills li{
  margin: 10px;
}
.skill-box{
  padding-bottom: 2em;
  padding-left: 2em;
  border-radius: 20px;
}

.bar{
  background-color: white;
  display: block;
  border-radius: 10px;
  height: 20px;
  margin: 20px;
  overflow: hidden;
}
.bar span{
  height: 20px;
  float: left;
  background: orange;
}
.html-skill{
  width: 80%;
  animation: html-skill 3s;
}
.css-skill{
  width: 80%;
  animation: css-skill 3s;
}
.js-skill{
  width: 60%;
  animation: js-skill 3s;
}
.java-skill{
  width: 80%;
  animation: java-skill 3s;
}
.mysql-skill{
  width: 80%;
  animation: mysql-skill 3s;
}

@keyframes html-skill{
  0%{
    width: 0%;
  }
  100%{
    width: 80%;
  }
}
@keyframes css-skill{
  0%{
    width: 0%;
  }
  100%{
    width: 80%;
  }
}
@keyframes js-skill{
  0%{
    width: 0%;
  }
  100%{
    width: 60%;
  }
}
@keyframes java-skill{
  0%{
    width: 0%;
  }
  100%{
    width: 80%;
  }
}
@keyframes mysql-skill{
  0%{
    width: 0%;
  }
  100%{
    width: 80%;
  }
}

.progressbar{
  background-color: white;
  border-radius: 10px;
  height: 20px;
  width: 100%;
  margin: 20px;

}
.progressbar-inner {
  background-color: orange;
  width: 80%;
  height: 20px;
  border-radius: 10px;
}

.padding-four{
  padding-top: 4em;
}

.padding-two{
  padding-top: 2em;
}

.padding-one{
  padding-top: 1em;
}

.icons{
  text-decoration: none;
  color: #fff;
}
.icons:hover{
  filter: brightness(20%);
}
.skill-graph {
  display: flex;
  align-items: center;
}
/*
 * Footer
 */
 footer{
  height: 10em;
  display: flex;
  justify-content: center;
  align-items: center;  
  background-color: #333;
}
.iconlist{
  list-style-type: none;
}

.allicons{
  margin-right: 5%;
  float: right;
}

li.menu-item:not(:last-child) { 
  margin-bottom: 3px;  
}
.mastfoot {
  color: rgba(255, 255, 255, .5);
}